{% extends 'base.html' %}
{% block title %}Serviços registrados{% endblock %}

{% block content %}
<div class="max-w-7xl mx-auto px-6 py-10">
  <h1 class="text-4xl font-bold text-gray-900 mb-10">Serviços Registrados</h1>

  {% if servicos_agrupados %}
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th class="px-6 py-3">Node</th>
          <th class="px-6 py-3">Tags</th>
          <th class="px-6 py-3">Porta</th>
          <th class="px-6 py-3">Serviço</th>
          <th class="px-6 py-3">Checks</th>
          <th class="px-6 py-3">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for key, servicos in servicos_agrupados.items %}
            {% with node=key.0 ip=key.1 dc=key.2 %}
                {% for service in servicos %}
                <tr onclick="window.location.href='#'" class=" cursor-pointer border-b odd:bg-white even:bg-gray-50 dark:odd:bg-gray-900 dark:even:bg-gray-800 hover:bg-indigo-50 dark:hover:bg-gray-700 transition-colors duration-200">
                    {% if forloop.first %}
                    <td rowspan="{{ servicos|length }}" class="px-6 py-4 align-top font-semibold text-gray-900 dark:text-white">
                        {{ node }}
                        <div class="text-xs text-gray-500">{{ ip }}</div>
                    </td>
                    {% endif %}
                    <td class="px-6 py-4">
                        {% if service.tags %}
                        {{ service.tags|join:", " }}
                        {% else %}
                        <span class="text-gray-400 italic">Sem tags</span>
                        {% endif %}
                    </td>
                    <td class="px-6 py-4">:{{ service.port }}</td>
                    <td class="px-6 py-4">{{ service.name }}</td>
                    <td class="px-6 py-4">
                    {% for check in service.checks %}
                        <div class="mb-1">
                        <strong>{{ check.name }}</strong>:
                        <span class="text-xs text-gray-500">{{ check.output|truncatechars:60 }}</span>
                        </div>
                    {% empty %}
                        <span class="text-gray-400 italic">Sem checks</span>
                    {% endfor %}
                    </td>
                    <td class="px-6 py-4">
                    {% with status=service.status %}
                        {% if status == 'passing' %}
                        <span class="text-green-600 font-bold">✔ Ok</span>
                        {% elif status == 'warning' %}
                        <span class="text-yellow-600 font-bold">⚠ Warning</span>
                        {% elif status == 'critical' %}
                        <span class="text-red-600 font-bold">✖ Critical</span>
                        {% else %}
                        <span class="text-gray-600">Unknown</span>
                        {% endif %}
                    {% endwith %}
                    </td>
                </tr>
                {% endfor %}
            {% endwith %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
    <p class="text-gray-600 text-center mt-10">Nenhum serviço encontrado.</p>
  {% endif %}
</div>
{% endblock %}
