{% extends 'base.html' %}
{% block title %}Serviços - Portal Consul{% endblock %}

{% block content %}
<div class="max-w-7xl mx-auto px-6 py-10">
  <h1 class="text-4xl font-bold text-gray-900 mb-10">Serviços Registrados</h1>

  {% if services %}
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">ID</th>
                <th scope="col" class="px-6 py-3">Node</th>
                <th scope="col" class="px-6 py-3">Tags</th>
                <th scope="col" class="px-6 py-3">Endereço</th>
                <th scope="col" class="px-6 py-3">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for service in services %}
            <tr onclick="window.location.href='#'"
                class="cursor-pointer odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 border-gray-200 hover:bg-indigo-50 dark:hover:bg-gray-700 transition-colors duration-200">
                <td class="px-6 py-4">
                    {{ service.id }}
                </td>
                <td class="px-6 py-4">
                    {{ service.node }}
                    <span class="text-xs text-gray-500">({{ service.node_address }})</span>
                </td>
                <td class="px-6 py-4">
                    {% if service.tags %}
                        {{ service.tags|join:", " }}
                    {% else %}
                        <span class="text-gray-400 italic">Sem tags</span>
                    {% endif %}
                </td>
                <td class="px-6 py-4">
                    {{ service.address }}:{{ service.port }}
                </td>
                <td class="px-6 py-4">
                    {% with status=service.checks.0.status %}
                        {% if status == 'passing' %}
                            <span class="text-green-600 font-bold">✔ Ok</span>
                        {% elif status == 'warning' %}
                            <span class="text-yellow-600 font-bold">⚠ Warning</span>
                        {% elif status == 'critical' %}
                            <span class="text-red-600 font-bold">✖ Critical</span>
                        {% else %}
                            <span class="text-gray-600">Unknown</span>
                        {% endif %}
                    {% endwith %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
  {% else %}
    <p class="text-gray-600 text-center mt-10">Nenhum serviço encontrado.</p>
  {% endif %}
</div>
{% endblock %}
